# Archivos compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados por entornos de desarrollo (IDE) y sistemas
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de configuración locales o temporales
*.log
.env
