altair==5.5.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
autopep8==2.3.2
blinker==1.9.0
cachetools==5.5.2
certifi==2026.5.20
charset-normalizer==3.4.1
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
darkdetect==0.7.1
decorator==5.2.1
exceptiongroup==1.3.0
fonttools==4.59.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.68.0
gTTS==2.5.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-oauth==0.15.1
idna==3.18
imageio==2.37.0
imageio-ffmpeg==0.6.0
JayDeBeApi==1.2.3
Jinja2==3.1.6
jpype1==1.7.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
matplotlib==3.10.9
moviepy==2.1.2
narwhals==2.0.1
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pillow==10.4.0
plotly==6.2.0
proglog==0.1.10
proto-plus==1.26.0
protobuf==5.29.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pydeck==0.9.1
pyparsing==3.3.2
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.18.0
pyqtdarktheme==2.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
redis==6.2.0
referencing==0.36.2
requests==2.34.2
rpds-py==0.26.0
rsa==4.9
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
spotipy==2.25.1
streamlit==1.47.1
streamlit-oauth==0.1.14
tenacity==9.1.2
toml==0.10.2
tomli==2.2.1
tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.7.0
watchdog==6.0.0
